:root {
  --main: blueviolet;
  --secondary: black;
  --bg-color: whitesmoke;
}

* {
  font-family: monospace;
  line-height: 1.5;
  margin: 0;
  padding: 10px;
}

/* classes for either displaying content or hidding it  */
.hidden {
  display: none;
}

.visible {
  display: block;
}

/* style for the header section (high score and timer) */
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--main);
  font-weight: 400;
  font-size: 20px;
  color: white;
}

/* style for the start of the quiz with quiz rules */
.quizStart-container {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}

.quiz-rules {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* style for questions and asnwers */
h2 {
  text-align: center;
}

.answer-list {
  list-style: none;
}

.li-element {
  margin: 0;
  text-align: center;
}

/* this is appearing only when a question is cliked to display correct or wrong  */
.answer-line {
  text-align: center;
  font-size: 20px;
  color: grey;
  font-style: italic;
}

/* style for high score section */
.high-score {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}

.result,
.total-score,
.initials {
  text-align: center;
  font-size: 20px;
}

.score-list {
  font-size: 20px;
  margin-left: 20px;
  list-style: none;
}

.list-container {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}
/* style for all buttons in quiz */
.answer-button,
.start-quiz,
.btnend,
.go-back,
.clear-high-scores {
  width: 200px;
  border-radius: 8px;
  box-shadow: 3px 4px #a0a0a0;
}
.buttons {
  display: flex;
  justify-content: center;
}

.go-back,
.clear-high-scores {
  margin: 15px;
}

.btnend {
  margin-top: 25px;
}
.answer-button:hover,
.start-quiz:hover,
.btnend:hover,
.go-back:hover,
.clear-high-scores:hover {
  cursor: pointer;
  background-color: var(--main);
  color: var(--bg-color);
}
