:root {
  --main: blueviolet;
  --secondary: black;
  --bg-color: whitesmoke;
}

* {
  font-family: monospace;
  line-height: 1.5;
  margin: 0;
  padding: 10px;
}

.quizStart-container {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--main);
  font-weight: 400;
  font-size: 20px;
  color: white;
}

h2 {
  text-align: center;
}
.hidden {
  display: none;
}

.visible {
  display: block;
}

.quiz-rules {
  font-size: 16px;
}
.answer-button,
.start-quiz {
  width: 200px;
  border-radius: 8px;
  box-shadow: 3px 4px #a0a0a0;
}

.answer-button:hover,
.start-quiz:hover {
  cursor: pointer;
  background-color: var(--main);
  color: var(--bg-color);
}

.answer-list {
  list-style: none;
}

.li-element {
  margin: 0;
  text-align: center;
}
